/* You can add global styles to this file, and also import other style files */

// html,
// body {
//   height: 100%;
// }
// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
// }

body {
  width: 250px;
  height: 350px;
}

.full-width {
  width: 100%;
}

.input {
  margin: 10px 70px 0 0;
}

.button {
  margin: 10px 0;
}
